@{
  Layout = "_Layout";
}

<h1>Add a new oder to @Model.Name</h1>

<form action="/vendors/@Model.Id/oders" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <label for="oderDescription">Order Description</label>
  <input id="oderDescription" name="oderDescription" type="text">
  <button type='submit'>Add oder</button>
</form>